<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Welcome To Login</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">  <!-- Google web font "Open Sans" -->
  <link rel="stylesheet" href="/minioProject/public/stylesheets/font-awesome.min.css">
  <link rel="stylesheet" href="/minioProject/public/stylesheets/bootstrap.min.css">
  
  <link rel="stylesheet" href="/minioProject/public/stylesheets/demo.css" />
  <link rel="stylesheet" href="/minioProject/public/stylesheets/templatemo-style.css">
  
  <script type="text/javascript" src="/minioProject/public/javascripts/modernizr.custom.86080.js"></script>
		
	</head>

	<body>

			<div id="particles-js"></div>
		
			<ul class="cb-slideshow">
	            <li></li>
	            <li></li>
	            <li></li>
	            <li></li>
	            <li></li>
	            <li></li>
	        </ul>

			<div class="container-fluid">
				<div class="row cb-slideshow-text-container ">
					<div class= "tm-content col-xl-6 col-sm-8 col-xs-8 ml-auto section">
					<header class="mb-5"><h1>Login</h1></header>
					<p class="mb-5">A web album of Shared images. Thank you for visiting our site!</p>
					
                    <form action="/minioProject/account/login" method="POST" class="subscribe-form">
               	    	<div class="row form-section">
							<div class="col-md-7 col-sm-7 col-xs-7">
			                      <input name="userName" type="text" class="form-control"  placeholder="请输入用户名..." required/>
							</div>
							<div class="col-md-7 col-sm-7 col-xs-7"><br></div>
							<div class="col-md-7 col-sm-7 col-xs-7">
								<input name="password" type="password" class="form-control" placeholder="请输入密码..." required/>
							</div>
						
							<div class="col-md-5 col-sm-5 col-xs-5">
								<button type="submit" class="tm-btn-subscribe">登录</button>
							</div>
						
						</div>
                    </form>
					</div>
				</div>	
			</div>	
	</body>

	<script type="text/javascript" src="/minioProject/public/javascripts/particles.js"></script>
	<script type="text/javascript" src="/minioProject/public/javascripts/app.js"></script>
</html>